/*
mainPage.css
Gabriel Sessions
Purpose: Define CSS attributes for logon system
- define buttons and name form for lobby setup
*/

.hide{
    display: none;
}

.inline{
    display: inline-block;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
}

.center{
    text-align: center;
}

.centerButtons{
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;

    margin-left: auto;
    margin-right: auto;
    
}


.formBox{
    width:200px;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color:green;

    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;

    margin-left: auto;
    margin-right: auto;

}

.boxed{
    width:150px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;

    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;

    margin-left: auto;
    margin-right: auto;

}

.formLabelSize{
    font-size: 24 ;
}

h1{
    font-size: 32;
}

h2{
    font-size: 24;
}

h3{
    font-size: 18.72;
}

h4{
    font-size: 16;
}

.loaderSize1{
    width: 50%;
    height: auto;
}

table{
    border-collapse: collapse;
    border-width: 2px;
    margin-right: auto;
    margin-left: auto;
}

td, th {
    border: 1px solid black;
    font-size: 16px;
}